<%-include('includes/head.ejs') %>

    <body>
     <%-include('./includes/navigation.ejs') %>
        <h1>Some Error Occoured</h1>
        <p>We are working on fixing this,sorry fro the Inconvience</p>
        <%- include('includes/end.ejs')%>
    </body>